.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
	background-color:#99CCFF;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
}

.blockPost {	
	width: 47%;
	margin-left: 0.1cm;
	margin-right: 0.1cm;
	margin-top: 10px;
	background-color:white;
	border-radius: 5px;
	border: 1px white solid;
	background-color:rgba(245,245,245,.5);
	display : inline-block;
}

.blockPost .panel-heading{
	background-color:rgba(0,129,155,.5);
	/*border-radius: 5px;*/
}

#messageLoggin{
	width:100%;
	padding : 10px;
	text-align: center;
	font-weight:bold;
    font-size: 21px;
	/*border-radius: 5px;*/
}

.panel-body{
	padding:0.2cm;
}

.blockTotal {
	/*position:fixed;*/
	border: 2px solid;
	border-radius: 5px;
	padding:10px;
	background-color:rgba(100,100,100,.5);	
	width: 48%;
}

.buttonsAndTotal{
	display:inline-block;
	vertical-align: top;
	margin-top: 0px;
}

.blockTotal .neg{
	color:white;
}

.blockTotal .pos{
	color:white;
}
.blockTotal:hover{
 	cursor:default;
}
.blockTotal .input-group-btn .dropdown-toggle{
	padding:2px;
	background-color:rgba(255,255,255,1);
	text-align:center;
	font-weight:bold;
	border-radius: 5px;
}
.blockTotal .input-group-btn .dropdown-toggle .curTotal{
	margin-left:0px;
}
.blockTotal .input-group-btn .dropdown-toggle .caret{
	margin-left:0px;
}
#logoAndRates{
	//background-color: red;
}

.logoAndRates{
	//background-color: green;
	display:inline-block;
	vertical-align: top;
}

.input-group-addon{
	width:30%;
}
.divPost .input-group-btn{
	width:20%;
}
.divPost .input-group-btn button{
	width:100%;
}
.divPost .postTitle{
	width:75%;
	height:25px;
}
.blockTotal .input-group-btn{
	width:80px;
}
.blockTotal .input-group-btn button{
	width:100%;
}
.dropdown-menu li:hover{
	cursor:pointer;
	font-weight:bold;
}
.divPost .input-group-addon:hover{
	cursor:default;
}
.divPost .withoutInput input:hover{
	cursor:default;
}
.dropdown-menu li{
	margin-left:10px;
}


#projectTitle{
	width:50%;
}

.divFiles{
	width:50%;
}

.inputProjectTitle{
	width:99%;
}

#buttonsDiv{
	width:50%;
}

#buttonsDiv button{
	width:49%;
	margin:0;
}
}


